
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap");




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}


.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    padding-left: 40px;
    padding: 40px 0;
    background-image: linear-gradient(-80deg, #e4009b 0%, #194dcf 100%);
    /* opacity: 0.569; */
}

.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
}

.header__item{
    padding-left: 30px;
}

.header__item a{
    
    line-height: 55px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: right;
}

.header__btn{
    padding: 15px 44px;
    border-radius: 28px;
    background-color: transparent;
    border: 2px solid #f5f6fa;
    color: #fff;
    text-transform: uppercase;
}

.header__btn:hover{
    background-color: #fff;
    color: #e4009b;
    transition: 0.2s;
}

.hero{
    background-image: linear-gradient(-80deg, #e4009b 0%, #002b9a 100%);
    opacity: 0.569;
}

.hero__container{
    padding-top: 133px;
    padding-bottom: 230px;
    text-align: center;
}

.hero__text{
    font-size: 20px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}

.hero__title{
    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Rubik";
    text-align: center;
}

.hero__line{
    color: #f5f6fa;
    font-size: 30px;
}

.hero__box{
    padding-top: 86px;
    display: flex;
    justify-content: center;
    
}

.hero__box li{
    padding-top: 20px;
    width: 123px;
    height: 123px;
    border-radius: 62px;
    background-image: linear-gradient(-80deg, #e4009b 0%, #002b9a 100%);
    border: 6px solid #f5f6fa;
}
.hero__box li {
    margin-left: calc(33px / 2);
}

.hero__box--text__top{
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}

.hero__box--text__bottom{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}