
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}


.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.site__btn{
    margin-top: 58px;
    width: 206px;
    height: 60px;
    border-radius: 5px;
    background-color: #e4009c;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
    
    outline: none;
    border: 5px solid transparent;
}

.site__btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #e4009b;
    border: 5px solid #e4009b;
    transition: 1s;
    
}

.header{
    padding-left: 40px;
    padding: 40px 0;
    background-image: linear-gradient(-80deg, #e4009b 0%, #194dcf 100%);
    /* opacity: 0.569; */
}

.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why-join1{
    font-size: 18px;
    line-height: 51px;
    color: #e4009c;
    font-weight: 500;
    font-family: "Rubik";
}
.header__list{
    display: flex;
}

.header__item{
    padding-left: 30px;
}

.header__item a{
    
    line-height: 55px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: right;
}

.header__btn{
    padding: 15px 44px;
    border-radius: 28px;
    background-color: transparent;
    border: 2px solid #f5f6fa;
    color: #fff;
    text-transform: uppercase;
}

.header__btn:hover{
    background-color: #fff;
    color: #e4009b;
    transition: 0.2s;
}


.hero{
    background-image: linear-gradient(-80deg, #e4009b 0%, #002b9a 100%);
    opacity: 0.569;
}

.hero__container{
    padding-top: 133px;
    padding-bottom: 230px;
    text-align: center;
}

.hero__text{
    font-size: 20px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}

.hero__title{
    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Rubik";
    text-align: center;
}

.hero__line{
    color: #f5f6fa;
    font-size: 30px;
}

.hero__box{
    padding-top: 86px;
    display: flex;
    justify-content: center;
    
}

.hero__box li{
    padding-top: 20px;
    width: 123px;
    height: 123px;
    border-radius: 62px;
    background-image: linear-gradient(-80deg, #e4009b 0%, #002b9a 100%);
    border: 6px solid #f5f6fa;
}
.hero__box li {
    margin-left: calc(33px / 2);
}

.hero__box--text__top{
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}

.hero__box--text__bottom{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}

#joinevent{
    background-image: url("/img/event__background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 815px 891px;
    
}

.joinevent__container{
    padding: 117px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.joinevent__list{
    display: flex;
    justify-content: flex-start;
}

.joinevent__list li{
    margin-top: 10px;
}

.joinevent__list li + li{
    margin-left: 4px;
}

.joinevent__list li:nth-child(odd){
    width: 30px;
    height: 7px;
    border-radius: 3px;
    background-image: linear-gradient(-80deg, #e4009b 0%, #002b9a 100%);
}

.joinevent__list li:nth-child(even){
    width: 15px;
    height: 7px;
    border-radius: 3px;
    background-color: #ef66c4;
}

.joinevent__desc{
    padding: 49px 0;
    font-size: 24px;
    line-height: 58px;
    color: #2a2e3f;
    font-weight: 500;
    font-family: "Rubik";
}

.joinevent__text{
    padding: 40px 0;
    width: 431px;
    height: 103px;
    font-size: 18px;
    line-height: 30px;
    color: #808791;
    font-weight: 400;
    font-family: "Rubik";
}


.joinevent__center--box{
    padding: 70px 40px;
    width: 370px;
    height: 406px;
    border-radius: 3px;
    filter: drop-shadow(0 0 28.5px rgba(223,227,234,0.41));
    background-color: #ffffff;  
}

.joinevent__center--box + .joinevent__center--box{
    margin-top: 39px;
}
.joinevent__center--box__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.joinevent__center--box__top div{
    padding: 25px 25px;
    width: 104px;
    height: 104px;
    border-radius: 52px;
    filter: drop-shadow(0px 5px 6.5px rgba(173,58,255,0.19));
    background-color: #fdfeff;
}

.joinevent__title{
    font-size: 26px;
    line-height: 51px;
    color: #2a2e3f;
    font-weight: 700;
    font-family: "Rubik";
}

.joinevent__description1{
    font-size: 26px;
    line-height: 51px;
    color: #ad3aff;
    font-weight: 700;
    font-family: "Rubik";
}

.joinevent__description2{
    opacity: 0.200;
    font-size: 26px;
    line-height: 51px;
    color: #6366ff;
    font-weight: 700;
    font-family: "Rubik";
}

.joinevent__description3{
    font-size: 26px;
    line-height: 51px;
    color: #ff8c11;
    font-weight: 700;
    font-family: "Rubik";
}

.abountevent__backtop--img{
    display: flex;
    justify-content: space-around;
    align-items: end;
}


.abountevent__backbottom--img{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.aboutevent__container{
    display: flex;
    justify-content: space-around;
}

.aboutevent__left--box{
    padding: 40px;
    width: 328px;
    height: 364px;
    border-radius: 5px;
    background-color: #e4009c;
}

.aboutevent__left--nextbox{  
    display: flex;
    align-items: end;
    justify-content: center;
    width: 503px;
    height: 517px;
    background-color: #c573ff;
    border: 8px solid #fff;
    border-radius: 5px;
}

.abountevent__list{
    margin-left: 100px;
    position: relative;
    left: 30px;
    display: flex;
    justify-content: center;
}

.abountevent__list li{
    
    margin-left: 10px;
    margin-bottom: 20px;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
}

.aboutevent__left--circle{
    position: relative;
    top: 100px;
    left: 150px;
    width: 231px;
    height: 231px;
    background-color: #c573ff;
    border-radius: 50%;
    border: 8px solid #fff;
}